name: Hugo-CI-stage-short
on:
  workflow_dispatch: null
  push:
    branches:
      - develop

jobs:
  job-one:
    name: Deploy
    runs-on: [self-hosted, linux, x64, dev4-pdf]
    env:
      LANGUAGES: "ar en es fr id ja ko pt ru zh"
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
          submodules: true
          fetch-depth: 0
    - name: hugo build
      run: |
        git clone https://x-access-token:${{ secrets.GH_PAT }}@github.com/aspose-pdf/Aspose.PDF-Hugo-template.git || (cd Aspose.PDF-Hugo-template && git pull)
        cd Aspose.PDF-Hugo-template
        rm -rf content
        sudo npm install -D --save autoprefixer
        sudo npm install -D --save postcss-cli
        sudo npm install
        rsync --recursive --delete --force --progress ../* content/
        rm -rf content/Aspose.PDF-Hugo-template
        rm -rf public
        hugo0.136 --baseURL https://docs-qa.aspose.com/pdf  --config ./config.toml,./configs/docs-qa.aspose.com-pdf.toml

    - name: Configure AWS credential
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Deploy static site to S3 bucket
      run: |
        cd Aspose.PDF-Hugo-template
        aws s3 sync ./public/ s3://docs-qa.aspose.com/pdf --delete
