name: Hugo-CI
on:
  push:
    branches:
      - develop

jobs:
  job-one:
    name: Deploy
    runs-on: [self-hosted, linux, x64, dev4-pdf]
    steps:
    - name: hugo build
      run: |
        git clone https://x-access-token:${{ secrets.GH_PAT }}@github.com/aspose-pdf/Aspose.PDF-Hugo-template.git || (cd Aspose.PDF-Hugo-template && git pull)
        cd Aspose.PDF-Hugo-template
        ls -l
        sudo npm install -D --save autoprefixer
        sudo npm install -D --save postcss-cli
        rsync --recursive --delete --force --progress ../* content/
        rm -rf content/Aspose.PDF-Hugo-template
        rm -rf public
        hugo0.136 --baseURL docs-qa.aspose.com/pdf  --config ./config.toml,./configs/docs-qa.aspose.com-pdf.toml
        ls -l

    - name: Configure AWS credential
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Deploy static site to S3 bucket
      run:  aws s3 sync ./public/ s3://docs-qa.aspose.com/pdf --delete
